:root{
    --backgraund-html: #E4EDF6;
    --backgraund-cotainer: #fff;
    --backgraund-inputs: #e6e8e3;
    --backgraund-buttons: #706EC9;

    --text-color-white: #fff;
    --text-color-gray: #585555;
}