.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    width: 95vw;
}

.title{
    color: #3c5572;
    font-size: 1.5rem;
    font-weight: 700;
}

.modal-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    width: 12rem;
    height: 3rem;
    border-radius: 0.5rem;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgba(146, 146, 146, 0.484);
}

