@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'colors.css';

aside a{
    color: var(--text-color-gray);
    display: flex;
    margin: 0.6rem;
    gap: 0.2rem;
    margin-left: 0.4rem;
    position: relative;
    transition: all 300ms ease;
}

aside .sidebar{
    border-radius: 30px;
}

aside .sidebar a.active{
    color: var(--backgraund-buttons);
    margin-left: 0;
}

aside .sidebar a span{
    font-size: 1.5rem;
    transition: all 300ms ease;
}

aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
}

aside .sidebar a:hover{
    color: var(--backgraund-buttons);
    text-decoration: none;
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar a::after{
    background-color: aqua;
}

aside{
    background-color: var(--backgraund-cotainer);
    height: 100vh;
    width: 3vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 300ms ease;
    z-index: 9999;
}

aside .topo{
    background-color: var(--backgraund-cotainer);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    border-radius: 30px;
}

aside .topo .logo{
    align-items: center;
    justify-content: center;
}

aside .topo .logo img{
    width: 3rem;
    height: 1rem;
    transition: all 300ms ease;
}

aside h3{
    font-size: 1.2rem;
    transition: all 300ms ease;
}

aside .sidebar{
    background-color: var(--backgraund-cotainer);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
}

aside .sidebar div{
    color: var(--text-color-gray);
    display: flex;
    margin: 0.5rem;
    gap: 0.1rem;
    margin-left: 0.01rem;
    position: relative;
    transition: all 300ms ease;
}

aside .sidebar div span{
    font-size: 1.5rem;
    transition: all 300ms ease;
}

aside .sidebar div:before{
    content: '';
    width: 6px;
    height: 100%;
}

aside .sidebar div:hover{
    color: var(--backgraund-buttons);
}

aside .sidebar div:hover span{
    margin-left: 1rem;
}

aside .sair{
    position: absolute;
    bottom: 0.5rem;
    width: 90%;
    border-radius: 30px;
}

aside:hover{
    width: 15vw;
    position: absolute;
}

aside:hover .sidebar a h3{
    display: block;
}

aside:hover .sidebar div h3{
    display: block;
}

aside:hover .topo .logo img{
    width: 10rem;
    height: 3rem;
}

aside:hover #icons{
    display: block;
}

aside .sidebar a h3{
    display: none;
}

aside .sidebar div h3{
    display: none;
}

#icons{
    display: none;
}

.container-form-menu{
    background-color: var(--backgraund-html);
    width: 100%;
    height: 100vh;
    display: grid;
    margin: 0;
    justify-content: start;
    grid-template-columns: auto auto 20rem;
}

.container-form-menu hr{
    width: 80%;
    margin: 0.2rem;
}

.div-empresas{
    cursor: pointer;
    display: block;
    flex-wrap: wrap;
    transition: all 300ms ease;
}

.div-empresas:hover .list-empresas{
    display: block;
}

.div{
    top: 0.5rem;
    flex-direction: column;
    margin-bottom: 0;
    position: relative;
}

.list-empresas{
    flex-direction: column;
    display: none;
    margin-bottom: 5px;
}

.div-relatorio{
    cursor: pointer;
}

.list-relatorio{
    display: none;
    margin-bottom: 5px;
    font-size: 13.5px;
}

.div-questionario{
    cursor: pointer;
}

.list-questionario{
    display: none;
    margin-bottom: 5px;
    font-size: 13.5px;
}

.logo-icon{
    display: block;
    width: 100%;
}

.btn{
    background-color: #706ec9;
    color: #fff;
    font-weight: 800;
    -moz-box-shadow: 0px 2px 2px #706ec9;
    -webkit-box-shadow: 0px 2px 2px #706ec9;
}

.btn:hover{
    background-color: #fff;
    color: #706ec9;
    border: 1px solid #706ec9;
}

section.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000080;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
