@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'colors.css';

.container-form{
    background-color: var(--backgraund-conteiner);
    float: right;
    width: 2vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.input-container{
    left: 120px;
    border-radius: 5px;
    width: 280px;
    height: 36px;
    background-color: var(--backgraund-inputs);
    border: none;
    padding: 10px;
}

.btn-enter{
    background-color: var(--backgraund-buttons);
    border: none;
    color: var(--text-color-white);
    border-radius: 5px;
    left: 120px;
    padding: auto;
    top: 25px;
    width: 280px;
    height: 36px;
}

.login{
    margin-top: -120px;
    margin-bottom: 160px;
    margin-left: -260px;
}

.img{
    width: 25%;
    position: absolute; 
}

.img1{
    width: 30%;
    position: absolute;
    bottom: 0%;
}


section.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000080;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.modal div#card{
    width: 30rem;
    position: relative;
    background-color: var(--backgraund-conteiner);
    border-radius: 10px;
    padding: 20px;
}

section.modal div#card h2{
    padding: 10px;
    margin: 0;
}

section.modal div#card hr{
    width: 95%;
}

section.modal div#card p{
    padding: 10px;
    text-align: center;
    font-size: 18.5px;
}

section.modal div#card div#btns{
    display: flex;
    justify-content: center;
    padding: 0 10px 10px 10px;
}

section.modal div#card div#btns a.btn-ok{
    background-color: var(--backgraund-conteiner);
    color: var(--backgraund-buttons);
    border: solid 1px var(--backgraund-buttons);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
} 

section.modal div#card div#btns a.btn-ok:hover{
    background-color: var(--backgraund-buttons);
    color: var(--text-color-white);
    border: solid 1px var(--backgraund-buttons);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

