html{
    background-color: #E4EDF6;
}

/*Começo estilização do index*/
.container-form{
    background-color: rgb(255, 255, 255);
    float: right;
    width: 490px;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.input-container{
    left: 120px;
    border-radius: 5px;
    width: 280px;
    height: 36px;
    background-color: #e6e8e3;
    border: none;
    padding: 10px;
}

.btn-enter{
    background-color: #706EC9;
    border: none;
    color: #fff;
    border-radius: 5px;
    left: 120px;
    padding: auto;
    top: 25px;
    width: 280px;
    height: 36px;
}

.login{
    margin-top: -120px;
    margin-bottom: 160px;
    margin-left: -260px;
}

.img{
    width: 25%;
    position: absolute; 
}

.img1{
    width: 30%;
    position: absolute;
    bottom: 0%;
}

section.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000080;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.modal div#card{
    width: 20rem;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}

section.modal div#card h2{
    padding: 10px;
    margin: 0;
}

section.modal div#card hr{
    width: 95%;
}

section.modal div#card p{
    padding: 10px;
    text-align: center;
    font-size: 18.5px;
}

section.modal div#card div#btns{
    display: flex;
    justify-content: center;
    padding: 0 10px 10px 10px;
}

section.modal div#card div#btns a.btn-ok{
    background-color: #fff;
    color: #706EC9;
    border: solid 1px #706EC9;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    text-decoration: none;
} 

section.modal div#card div#btns a.btn-ok:hover{
    background-color: #706EC9;
    color: #fff;
    border: solid 1px #706EC9;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    text-decoration: none;
}

/*Termino */

/* Começo estilização base */
.container-form-menu{
    background-color: rgb(255, 255, 255);
    float: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 30px;
}

.container-form-menu hr{
    width: 95%;
    margin: 5px;
}

.div-empresas{
    cursor: pointer;
}

.list-empresas{
    display: none;
    margin-bottom: 5px;
    font-size: 13.5px;
}

.div-relatorio{
    cursor: pointer;
}

.list-relatorio{
    display: none;
    margin-bottom: 5px;
    font-size: 13.5px;
}

.div-questionario{
    cursor: pointer;
}

.list-questionario{
    display: none;
    margin-bottom: 5px;
    font-size: 13.5px;
}
