.main-empresa{
    display: flex;
    width: 100%;
    margin: 0.1rem 0 0 1.3rem;
    flex-direction: column;
}

.body-empresa::-webkit-scrollbar{
    width: 10px;
    border: 1px solid #eeeeee;
    border-radius: 1rem;
}

.body-empresa::-webkit-scrollbar-thumb{
    background-color: #706ec9;
    border-radius: 0 0.5rem 0.5rem 0;
}

.body-empresa{
    display: flex;
    width: 87rem;
    height: 39rem;
    background-color: #fff; 
    border-radius: 1rem;
    overflow-y:auto;
}

#form-empresa{
    width: 150rem;
    margin: 2rem;
}

#container-empresa{
    margin: 0;
    width: 150rem;
    height: 11rem;
    background-color: #eeeeee;
    border-radius: 0.7rem;
    padding: 0.8rem;
}

.btn-position{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem;
    justify-content: right;
}

.titulo-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 1rem;
}

.texto{
    position: relative;
    bottom: 0;
    margin: 0;
    height: 20.5px;
}

.traco{
    width: 1.7rem;
    height: 0.3rem;
    background-color: #706ec9;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    position: relative;
}
