@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'colors.css';

.body-index{
    background-color: var(--backgraund-html);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topo-index{
    background-color: var(--backgraund-html);
    display: flex;
    align-items: initial;
    justify-content: right;
    margin-top: 0;
    margin-bottom: 5rem;
    position: relative;
}

.logo-index{
    align-items: center;
    justify-content: center;
    width: auto;
    height: 4rem;
}

.logo-index img{
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 8rem;
}

.modal-login{
    background-color: var(--backgraund-cotainer);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 25rem;
    position: relative;
    border-radius: 0.7rem;
    padding: 1.5rem;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
}

.container-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-container{
    left: 120px;
    border-radius: 5px;
    width: 280px;
    height: 36px;
    background-color: var(--backgraund-inputs);
    border: none;
    padding: 10px;
    text-transform: uppercase;
}

.btn-enter{
    background-color: var(--backgraund-buttons);
    border: none;
    color: var(--text-color-white);
    border-radius: 5px;
    left: 120px;
    padding: auto;
    top: 25px;
    width: 280px;
    height: 36px;
    margin-bottom: 0.5rem;
}

.login{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.modal-login a{
    color: var(--backgraund-buttons);
}

.modal-login a:hover{
    color: var(--text-color-blue);
    text-decoration: none;
}

.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    flex-direction: column;
}

section.modal-senha{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000080;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.modal-senha div#card-form{
    width: 28rem;
    height: 24rem;
    position: relative;
    background-color: var(--backgraund-cotainer);
    border-radius: 10px;
    padding: 20px;
}

section.modal-senha div#card-form h2{
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
}

section.modal-senha div#card-form hr{
    width: 95%;
}

section.modal-senha div#card-form div#inputs{
    padding: 1.5rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px 10px 10px 10px;   
}

section.modal-senha div#card-form div#inputs input{
    background-color: var(--backgraund-inputs);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0.5rem;
}

section.modal-senha div#card-form div#btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    padding: 25px 10px 10px 10px;
}

section.modal-senha div#card-form div#btns a.btn-cancelar{
    background-color: red;
    padding: 5px;
    margin-right: 16rem;
    color: var(--text-color-white);
    border-radius: 5px;
    border: 2px solid red;
}

section.modal-senha div#card-form div#btns a.btn-cancelar:hover{
    background-color: var(--text-color-white);
    padding: 5px;
    margin-right: 16rem;
    color: red;
    border-radius: 5px;
    border: 2px solid red;
    text-decoration: none;
}

section.modal-senha div#card-form div#btns button.btn-enviar{
    background-color: green;
    padding: 5px;
    color: var(--text-color-white);
    border-radius: 5px;
    border: 2px solid green;
}

section.modal-senha div#card-form div#btns button.btn-enviar:hover{
    background-color: var(--text-color-white);
    padding: 5px;
    color: green;
    border-radius: 5px;
    border: 2px solid green;
}
