<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>
        $(function(){
            $('div.div-empresas').click(function(){
                $(this).siblings("a.list-empresas").slideToggle();
                if($(this).text() == "Empresas ∨"){
                    $(this).text("Empresas ∧");
                }else{
                    $(this).text("Empresas ∨");
                }
            });

            $('div.div-relatorio').click(function(){
                $(this).siblings("a.list-relatorio").slideToggle();
                if($(this).text() == "Relatório ∨"){
                    $(this).text("Relatório ∧");
                }else{
                    $(this).text("Relatório ∨");
                }
            });

            $('div.div-questionario').click(function(){
                $(this).siblings("a.list-questionario").slideToggle();
                if($(this).text() == "Questionário ∨"){
                    $(this).text("Questionário ∧");
                }else{
                    $(this).text("Questionário ∨");
                }
            });

        });
    </script>

    <title>Scanawe</title>
</head>
<body>
    <section>
        <div class="container-form-menu">
            <a href="">Dashboard</a>
            <hr>
            <a href="">Gerar Token</a>
            <hr>
            <div class="div-empresas">Empresas ∨</div>
            <a class="list-empresas" href="">Lista de empresas</a>
            <a class="list-empresas" href="">Cadastrar empresa</a>
            <hr>
            <div class="div-relatorio">Relatório ∨</div>
            <a class="list-relatorio" href="">Lista de relatórios</a>
            <a class="list-relatorio" href="">Gerar relatório</a>
            <hr>
            <div class="div-questionario">Questionário ∨</div> 
            <a class="list-questionario" href="">Lista de questionários</a>
            <a class="list-questionario" href="">Cadastrar questionário</a>
        </div>
    </section>
    {% block conteudo %}
    {% endblock %}
</body>
</html>