<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
    
    <title>Scanawe</title>
</head>
{% block conteudo %}
<body>
    <section>
        <div class="container-form">
            <div class="topo-index">
                <div class="logo-index">
                    <img src="{{ url_for('static', filename='img/scanawe2.png') }}">
                </div>
            </div>
            <form action="/autenticar" method="POST">
                <div class="container">
                    <h3 class="login">Login</h3>
                    <input type="text" name="user" class="input-container" autocomplete="off" placeholder="Usuário" tabindex="1"><br><br>
                    <input type="password" name="senha" class="input-container" autocomplete="off" placeholder="Senha" tabindex="2"><br><br>
                    <button type="submit" class="btn-enter">Entrar</button>
                    <a href="/esqueci-senha">Esqueceu a senha ?</a>
                </div>
            </form>
        </div>
    </section>
    {% if aviso == 1 %}
    <section class="modal">
        <div id="card">
            <h2>Aviso!</h2>
            <hr>
            <p>Usuário/Senha está Incorreto!</p>
            <div id="btns">
                <a class="btn-ok" href="/">Cancelar</a>
            </div>
        </div>
    </section> 
    {% endif %}

    {% if aviso == 2 %}
    <section class="modal-form">
        <div id="card-form">
            <h2>Insira seus dados</h2>
            <hr>
            <form action="/esqueciSenha" method="POST">
                <div id="inputs">
                    <label for="email">E-mail</label>
                    <input id="email" name="email" type="text" placeholder="exemplo@gmail.com">
                    <label for="usuario">Usuário</label>
                    <input id="usuario" name="usuario" type="text" placeholder="exemplo">
                </div>
                <div id="btns">
                    <a href="/" class="btn-cancelar">Cancelar</a>
                    <button type="submit" class="btn-enviar">Enviar</button>
                </div>
            </form>
        </div>
    </section>
    {% endif %}
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
{% endblock %}
</html>