<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Scanawe</title>
</head>
{% block conteudo %}
<body>
    <section class="sec1">
        <div class="container">
            <img src="{{ url_for('static', filename='img/scanawe1.png') }}" class="img">
            <img src="{{ url_for('static', filename='img/Frame 45.png') }}" class="img1">
        </div>
        <form action="/autenticar" method="POST">
            <div class="container-form">
                <h3 class="login">Login</h3>
                <input type="text" name="user" class="input-container" placeholder="Usuário"><br><br>
                <input type="password" name="senha" class="input-container" placeholder="Senha"><br><br>
                <button type="submit" class="btn-enter">Entrar</button>
            </div>
        </form>
    </section>
    {% if aviso %}
    <section class="modal">
        <div id="card">
            <h2>Aviso!</h2>
            <hr>
            <p>Usuário/Senha está Incorreto!</p>
            <div id="btns">
                <a class="btn-ok" href="/">Ok</a>
            </div>
        </div>
    </section> 
    {% endif %}
</body>
{% endblock %}
</html>